@font-face {
  font-family: "BoB";
  src: url("../fonts/BoB.ttf");
}

@font-face {
  font-family: "PatrickHand-Regular";
  src: url("../fonts/PatrickHand-Regular.ttf");
}

html {
  --background_color: #fffdf8;
  --main_color: #122adf;
  --h123_font: "BoB";
  --p_font: "PatrickHand-Regular";
  --h1_mobil_size: 29pt;
  --h1_web_size: 99pt;
  --h3_mobil_size: 10pt;
  --h3_web_size: 15pt;
  --p_web_size: 15pt;
  --p_mobil_size: 13pt;
  scroll-behavior: smooth;
}

header {
  margin: 2rem;
}

body {
  background-color: var(--background_color);
  margin: 2rem;
  padding: 0;
}

footer a {
  text-decoration: none;
  font-family: var(--p_font);
  font-size: var(--p_mobil_size);
  color: black;
}

h1,
h2,
h3 {
  font-family: var(--h123_font);
  color: var(--main_color);
}

p {
  font-family: var(--p_font);
  max-width: 100%;
  word-wrap: break-word;
  overflow-wrap: break-word;
  text-align: center;
  font-size: var(--p_mobil_size);
}

h1 {
  text-align: center;
  margin-bottom: 1rem;
  font-size: var(--h1_mobil_size);
}

h2 {
  font-size: 20pt;
  text-align: center;
  line-height: 150%;
}

section {
  text-align: center;
  margin: 4rem 0 4rem 0;
}

.global_menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: var(--h123_font);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  margin-top: 1rem;
}

.global_menu ul {
  list-style: none;
  display: flex;
  gap: 2rem;
  padding: 0;
  align-items: center;
}

.global_menu a {
  text-decoration: none;
  color: var(--main_color);
}

.local-menu a {
  text-decoration: none;
  color: black;
}

.link-container {
  text-align: center;
  font-family: var(--h123_font);
}

.link-container a {
  color: transparent;
  -webkit-text-stroke: #122adf 1px;
}

.link-container a:hover {
  color: #122adf;
  text-decoration: none;
}

.h2portfolio {
  margin-top: 13rem;
}

.logo {
  height: 40px;
  margin: 0;
}

.background-text {
  font-family: var(--h123_font);
  font-size: 50vw;
  color: transparent;
  -webkit-text-stroke: var(--main_color) 1px;
  margin-top: 14rem;
  margin-bottom: 12rem;
  text-align: center;
}

footer {
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.arrow {
  height: 20px;
}

.arrow-container {
  text-align: center;
}

.portfolio-section p {
  margin-bottom: 2rem;
}

.menu-link,
.local-menu a,
.projekt-nav a {
  display: inline-block;
  border: 1.5px solid transparent;
  border-radius: 50%;
  transition: all 0.1s;
}

.menu-link:hover,
.local-menu a:hover,
.projekt-nav a:hover {
  border-color: black;
}

#active {
  display: inline-block;
  border: 1.5px solid transparent;
  border-radius: 50%;
  border-color: black;
}

.menu-link.active {
  border-color: black;
}

h3 {
  font-size: var(--h3_mobil_size);
}

img {
  max-width: 100%;
  height: auto;
}

.local-menu {
  font-family: var(--h123_font);
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 8rem;
  line-height: 250%;
}

.local-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.projekt-nav {
  font-family: var(--h123_font);
  text-align: center;
  margin-top: 5%;
  font-size: 10pt;
}

.projekt-nav a {
  text-decoration: none;
  color: black;
}

.projekt-nav ul {
  list-style: none;
  padding: 0;
  line-height: 200%;
  margin: 0;
}

.portfolio-intro {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 10rem;
}

.portfolio-intro-1 {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 6rem;
}

.h2projekt {
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.background-text-portfolio,
.background-text-tema051,
.background-text-tema052,
.background-text-tema04,
.background-text-tema03,
.background-text-tema02,
.background-text-tema01 {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  overflow: hidden;
}

.background-text-portfolio p,
.background-text-tema052 p,
.background-text-tema051 p,
.background-text-tema04 p,
.background-text-tema03 p,
.background-text-tema02 p,
.background-text-tema01 p {
  font-family: var(--h123_font);
  -webkit-text-stroke: 0.15px var(--main_color);
  color: transparent;
  font-size: 13.3vw;
  line-height: 30%;
  margin-top: 0;
}

.hide {
  display: none;
}

.background-text-tema052 p,
.background-text-tema051 p,
.background-text-tema04 p,
.background-text-tema03 p,
.background-text-tema02 p,
.background-text-tema01 p {
  font-size: 8.65vw;
}

.portræt {
  max-width: 100%;
  margin-top: 0;
  margin-bottom: 0;
}

.portræt-container {
  text-align: center;
}

.h1-om-mig {
  margin-bottom: 0.1rem;
  margin-top: 1.5rem;
}

.om-mig-forside {
  margin: 3rem;
  margin-top: 6rem;
  margin-bottom: 3rem;
}

.OLD-hero {
  width: 9rem;
  position: absolute;
  top: 33%;
  left: 35%;
}

.A-SHORT-TALK-hero {
  width: 9rem;
  position: absolute;
  top: 33%;
  left: 35%;
}

.DROP-hero {
  width: 14rem;
  position: absolute;
  top: 29%;
  left: 27%;
}

.fodboldspillet-hero {
  width: 18rem;
  position: absolute;
  top: 34%;
  left: 18%;
}

.hero-section img {
  display: none;
}

.hero-section img.active {
  display: block;
}

.galleri img,
.galleri video {
  cursor: url("/assets/SVG/custom-curser.svg") 25 25, auto;
}

/* layout? */
.our-landscape-designs-front-page {
  position: relative;
  margin-bottom: 8rem;
  display: inline-block;
  max-width: 100%;
}

.old-overlay-image {
  position: absolute;
  top: 30%;
  left: 30%;
  width: 150px;
  height: auto;
  z-index: 1;
}

.a-short-talk-front-page {
  position: relative;
  margin-bottom: 8rem;
  display: inline-block;
  max-width: 100%;
}

.a-short-talk-overlay-image {
  position: absolute;
  top: 25%;
  left: 30%;
  width: 150px;
  height: auto;
  z-index: 1;
}

.fodboldspillet-front-page {
  position: relative;
  margin-bottom: 8rem;
  display: inline-block;
  max-width: 100%;
}

.fodboldspillet-overlay-image {
  position: absolute;
  top: 25%;
  left: 20%;
  width: 250px;
  height: auto;
  z-index: 1;
}

.galleri-image-container img,
.galleri-image-container video {
  transition: 0.1s;
}

.galleri-image-container img:hover,
.galleri-image-container video:hover {
  transform: scale(1.01);
}

.cv ul li {
  font-family: var(--h123_font);
  line-height: 250%;
  margin: 2rem auto;
  margin-top: 0;
}

.cv-liste {
  margin-top: 2rem;
  grid-column: 2;
  padding: 1rem;
}

/* media quiery */
@media (width > 700px) {
  body {
    max-width: 2000px;
    margin: 6rem;
    margin-bottom: 0;
  }

  p {
    text-align: left;
  }

  h1 {
    font-size: var(--h1_web_size);
  }

  h2 {
    text-align: left;
    font-size: 30pt;
  }

  .background-text {
    margin-top: -1rem;
    margin-bottom: -1rem;
    font-size: 30vw;
  }

  .h1-forside {
    margin-bottom: 0;
    margin-top: 4rem;
  }

  .arrow {
    height: 30px;
  }

  p {
    text-align: left;
    font-size: var(--p_web_size);
  }

  .old-background {
    font-size: 6vw;
    text-align: justify;
    line-height: 120%;
  }

  .old-overlay-image {
    width: 250px;
    left: 40%;
    top: 25%;
  }

  .a-short-talk-background {
    font-size: 6vw;
    text-align: justify;
    line-height: 120%;
  }

  .a-short-talk-overlay-image {
    width: 250px;
    left: 40%;
    top: 20%;
  }

  .fodboldspillet-background {
    font-size: 6vw;
    text-align: justify;
    line-height: 120%;
  }

  .fodboldspillet-overlay-image {
    width: 425px;
    left: 30%;
    top: 25%;
  }

  footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
  }

  h3 {
    text-align: left;
    font-size: var(--h3_web_size);
  }
  .footer-email {
    justify-self: start;
  }

  .footer-socials {
    justify-self: center;
  }

  .footer-phone {
    justify-self: end;
  }

  .local-menu {
    margin-bottom: 0;
  }

  .projekt-nav ul {
    text-align: left;
  }

  .portfolio-intro {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }

  .portfolio-intro-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }

  .row-1-1 {
    order: 2;
  }

  section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 20% 0% 20% 0%;
  }

  .om-mig-forside {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10%;
    margin-top: 8rem;
    margin-bottom: 2rem;
  }

  .om-mig-forside p {
    margin: 0;
  }

  .p1 {
    align-self: start;
  }

  .p2 {
    align-self: end;
  }

  .h1-om-mig {
    margin-bottom: -1rem;
    margin-top: 0;
  }

  section {
    margin: 6rem 0 6rem 0;
  }

  .OLD-hero {
    width: 19rem;
    position: absolute;
    top: 24%;
    left: 40%;
  }

  .A-SHORT-TALK-hero {
    width: 19rem;
    position: absolute;
    top: 24%;
    left: 40%;
  }

  .DROP-hero {
    width: 29rem;
    position: absolute;
    top: 15%;
    left: 35%;
  }

  .fodboldspillet-hero {
    width: 35rem;
    position: absolute;
    top: 28%;
    left: 32%;
  }

  .portfolio-intro img {
    order: 2;
  }

  .portfolio-intro-1 img {
    order: 2;
  }

  .portfolio-intro {
    margin-top: 15rem;
  }

  .h2projekt {
    margin: 0;
  }

  .h2portfolio {
    text-align: center;
    font-size: 30pt;
    margin-bottom: 1rem;
    margin-top: 10rem;
  }

  .galleri {
    display: grid;
    grid-template-columns: 1fr;
  }

  .projekt-intro-img {
    order: 2;
  }

  .portfolio-section img,
  .portfolio-section p,
  .portfolio-section video,
  .portfolio-section div {
    grid-column: 2;
  }

  .portfolio-section {
    gap: 0.5rem;
  }

  .projekt-nav {
    font-size: var(--h3_web_size);
  }

  footer a {
    font-size: var(--p_web_size);
  }

  .link-container {
    text-align: left;
  }

  .cv ul li {
    font-family: var(--h123_font);
    line-height: 250%;
    text-align: left;
  }

  .galleri-image-container img:hover,
  .galleri-image-container video:hover {
    transform: scale(1.05);
  }

  .h1-portfolio {
    margin-top: 5rem;
    margin-bottom: 0;
  }
}
